@{
    ViewData["Title"] = "Trust the best";
}

<main>

<h3 class="custom-slogan2">LoadVantage is here to connect you with the right people ! Let's move some freight !</h3>

<!-- Truck Animation Section -->
<section class="custom-truck-animation">
	<div class="loader">
			
		<div class="car1">
				
			<svg height="100px" width="100px" version="1.1" id="_x35_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
			     viewBox="0 0 512 512" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <circle style="fill:#000000;" cx="68.291" cy="163.868" r="48.827"></circle> <circle style="fill:#000000;" cx="430.586" cy="163.868" r="48.827"></circle> <path style="fill:#a462d0;" d="M510.592,150.432c-3.598,2.001-21.717,2.666-25.781-6.327 c-4.064-9.061-15.788-39.838-54.226-40.704c-38.438-0.932-56.558,34.44-57.89,56.491c-0.466,7.794-6.528,10.859-17.654,10.859 c-3.73,0-51.961,0.465-101.391,0.932c-2.065,0-4.13,0.067-6.195,0.067c-4.13,0-8.261,0.067-12.391,0.133 c-1.999,0-4.064,0-6.062,0.067c-6.129,0-12.058,0.067-17.92,0.132c-1.932,0-3.864,0.068-5.729,0.068 c-16.188,0.198-30.644,0.398-41.503,0.532c-10.925,0.133-18.186,0.267-19.918,0.333c-9.926,0.467-13.123-6.328-13.59-11.324 c-0.4-4.93-10.392-58.623-57.357-58.69c-39.637-0.067-58.49,31.51-70.214,48.164c-0.067,0-0.067,0.067-0.067,0.067 c-1.532,2.332-3.464,2.399-2.398-2.531c0-0.133,0.067-0.267,0.067-0.4c3.398-14.855,10.126-43.434,12.457-46.698 C32.616,73.425,147.53,57.702,158.389,57.702L196.36,6.008c11.791-5.861,74.611-7.994,144.692-3.863 c5.929,0.332,11.924,1.265,17.92,2.664c3.53,0.865,7.128,1.865,10.659,3.064c1.865,0.6,3.73,1.265,5.596,1.932 c1.798,0.732,3.664,1.465,5.529,2.199c3.664,1.532,7.261,3.198,10.859,5.063c1.799,0.932,3.598,1.865,5.396,2.864 c3.531,1.932,7.061,3.998,10.526,6.128c3.464,2.132,6.862,4.398,10.193,6.728c3.331,2.266,6.595,4.663,9.792,7.128 c1.199,0.865,2.332,1.799,3.464,2.664c0.067,0.067,0.067,0.067,0.067,0.067c5.196,4.064,10.059,8.127,14.722,12.325 c1.466,1.265,2.864,2.532,4.264,3.798c4.597,4.129,8.86,8.327,12.857,12.323c2.132,2.132,4.197,4.264,6.062,6.328 c8.46,8.861,15.188,16.921,19.852,22.984c0,0,0,0.065,0.067,0.065c2.132,2.799,3.797,5.198,4.996,6.997 C507.195,128.05,515.455,147.702,510.592,150.432z"></path> <circle style="fill:#9addf9;" cx="68.291" cy="163.868" r="28.733"></circle> <circle style="fill:#9addf9;" cx="430.586" cy="163.868" r="28.733"></circle> <path style="fill:#9addf9;" d="M231.812,15.565c-17.293,0-30.856,3.632-41.324,24.753c-11.313,22.827-5.104,23.278,7.799,23.396 c13.462,0.124,63.652,0.48,76.971,0c10.865-0.391,16.615-2.035,16.954-15.937c0.339-13.902,0.127-17.89,0-22.986 c-0.214-8.575-5.809-9.227-20.006-9.227C256.959,15.565,231.812,15.565,231.812,15.565z"></path> <path style="fill:#9addf9;" d="M303.71,28.142c-0.116,7.12-0.308,19.975,0.37,23.705c0.678,3.73,0.339,11.529,12.207,11.868 c11.868,0.339,69.511,0.339,74.258,0c4.747-0.339,12.278-6.757,6.782-16.615c-9.256-16.599-24.628-31.534-85.787-31.534 C305.547,15.565,303.826,21.032,303.71,28.142z"></path> </g> <g style="opacity:0.1;"> <circle style="fill:#040000;" cx="430.586" cy="163.868" r="48.827"></circle> <path style="fill:#040000;" d="M510.592,150.432c-3.598,2.001-21.717,2.666-25.781-6.327 c-4.064-9.061-15.788-39.838-54.226-40.704c-38.438-0.932-56.558,34.44-57.89,56.491c-0.466,7.794-6.528,10.859-17.654,10.859 c-3.73,0-51.961,0.465-101.391,0.932c-2.065,0-4.13,0.067-6.195,0.067c-4.13,0-8.261,0.067-12.391,0.133 c-1.999,0-4.064,0-6.062,0.067c-6.129,0-12.058,0.067-17.92,0.132c-1.932,0-3.864,0.068-5.729,0.068L369.631,7.873 c1.865,0.6,3.73,1.265,5.596,1.932c1.798,0.732,3.664,1.465,5.529,2.199c3.664,1.599,7.261,3.264,10.859,5.063 c1.799,0.932,3.598,1.865,5.396,2.864c3.531,1.932,7.061,3.998,10.526,6.128c3.464,2.132,6.862,4.398,10.193,6.728 c3.331,2.266,6.595,4.663,9.792,7.128c1.199,0.865,2.332,1.799,3.464,2.664c0.067,0.067,0.067,0.067,0.067,0.067 c5.196,4.064,10.059,8.127,14.722,12.325c1.466,1.265,2.864,2.532,4.264,3.798c4.597,4.129,8.86,8.327,12.857,12.323 c2.065,2.132,4.13,4.264,6.062,6.328c8.46,8.861,15.188,16.921,19.852,22.984c0,0,0,0.065,0.067,0.065 c2.132,2.799,3.797,5.198,4.996,6.997C507.195,128.05,515.455,147.702,510.592,150.432z"></path> </g> </g> </g></svg>
		</div>
			
		<div class="car2">
			<svg width="100px" height="100px" viewBox="-6.4 -6.4 76.80 76.80" xmlns="http://www.w3.org/2000/svg" fill="#000000" transform="matrix(1, 0, 0, 1, 0, 0)rotate(0)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.128"></g><g id="SVGRepo_iconCarrier"> <g id="flat"> <path d="M9,51H3V45.064A4,4,0,0,1,5.959,41.2L14.127,39H57a4,4,0,0,1,4,4v8H55" style="fill:#dd4a43"></path> <path d="M3.157,46A2.09,2.09,0,0,0,3,46.76V51H61V46Z" style="fill:#d13e37"></path> <path d="M54,39H14.127l8.8-10.561A4,4,0,0,1,26,27H43.859a4,4,0,0,1,3.328,1.781Z" style="fill:#87ced9"></path> <rect height="12" style="fill:#5eb3d1" width="2" x="34" y="27"></rect> <circle cx="14" cy="51" r="5" style="fill:#575755"></circle> <circle cx="50" cy="51" r="5" style="fill:#575755"></circle> <circle cx="14" cy="51" r="2" style="fill:#ebebe8"></circle> <circle cx="50" cy="51" r="2" style="fill:#ebebe8"></circle> <polygon points="52 8 40 13 40 9 28 14 28 10 16 15.053 16 12 3 18 16 24 16 20.947 28 26 28 22 40 27 40 23 52 28 52 8" style="fill:#7ea82d"></polygon> <rect height="4" style="fill:#a65b2d" width="9" x="52" y="16"></rect> <path d="M27,28a.972.972,0,0,1-.185-.017,1,1,0,0,1-.8-1.167l3-16a1,1,0,1,1,1.966.368l-3,16A1,1,0,0,1,27,28Z" style="fill:#7a4321"></path> <path d="M45,28a1,1,0,0,1-.982-.816l-3-16a1,1,0,0,1,1.966-.368l3,16a1,1,0,0,1-.8,1.167A.972.972,0,0,1,45,28Z" style="fill:#7a4321"></path> <rect height="2" style="fill:#ebebe8" width="4" x="28" y="42"></rect> <rect height="2" style="fill:#ebebe8" width="4" x="44" y="42"></rect> <rect height="2" style="fill:#a7e1eb" transform="translate(-13.973 31.366) rotate(-50.191)" width="1.562" x="25.719" y="29.6"></rect> <rect height="2" style="fill:#a7e1eb" transform="translate(-17.817 30.356) rotate(-50.191)" width="4.686" x="21.157" y="33.2"></rect> <rect height="12" style="fill:#d13e37" width="2" x="34" y="39"></rect> </g> </g></svg>
		</div>

		<div class="cityBuildings">
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			     viewBox="0 0 496 496" xml:space="preserve" width="120px" height="120px" fill="#000000">

				<g id="SVGRepo_bgCarrier" stroke-width="0"/>

				<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>

				<g id="SVGRepo_iconCarrier">
					<g>

						<polygon style="fill:#08446D;"
						         points="420,496 12,496 12,386.4 72,328 420,328 "/> <rect x="172" style="fill:#08446D;" width="56" height="48"/>
					</g> <polyline style="fill:#00233F;" points="172,0 228,0 228,48 "/> <rect x="124" y="16" style="fill:#08446D;" width="152" height="160"/>
					<g> <polyline style="fill:#00233F;" points="124,16 276,16 276,176 "/> <rect x="92" y="72" style="fill:#00233F;" width="216" height="424"/>
					</g> <rect x="180" y="112" style="fill:#22EFAB;" width="40" height="40"/> <polyline style="fill:#0DD396;" points="220,112 220,152 180,152 "/>
					<rect x="180" y="168" style="fill:#22EFAB;" width="40" height="40"/> <polyline style="fill:#0DD396;" points="220,168 220,208 180,208 "/>
					<rect x="180" y="224" style="fill:#22EFAB;" width="40" height="40"/> <polyline style="fill:#0DD396;" points="220,224 220,264 180,264 "/>
					<rect x="180" y="280" style="fill:#22EFAB;" width="40" height="40"/> <polyline style="fill:#0DD396;" points="220,280 220,320 180,320 "/>
					<rect x="180" y="336" style="fill:#22EFAB;" width="40" height="40"/> <polyline style="fill:#0DD396;" points="220,336 220,376 180,376 "/>
					<rect x="124" y="168" style="fill:#22EFAB;" width="40" height="40"/> <polyline style="fill:#0DD396;" points="164,168 164,208 124,208 "/>
					<rect x="124" y="224" style="fill:#22EFAB;" width="40" height="40"/> <polyline style="fill:#0DD396;" points="164,224 164,264 124,264 "/>
					<rect x="124" y="280" style="fill:#22EFAB;" width="40" height="40"/> <polyline style="fill:#0DD396;" points="164,280 164,320 124,320 "/>
					<rect x="124" y="336" style="fill:#22EFAB;" width="40" height="40"/> <polyline style="fill:#0DD396;" points="164,336 164,376 124,376 "/>
					<rect x="124" y="112" style="fill:#22EFAB;" width="40" height="40"/> <polyline style="fill:#0DD396;" points="164,112 164,152 124,152 "/>
					<rect x="236" y="112" style="fill:#22EFAB;" width="40" height="40"/> <polyline style="fill:#0DD396;" points="276,112 276,152 236,152 "/>
					<rect x="236" y="168" style="fill:#22EFAB;" width="40" height="40"/> <polyline style="fill:#0DD396;" points="276,168 276,208 236,208 "/>
					<rect x="236" y="224" style="fill:#22EFAB;" width="40" height="40"/> <polyline style="fill:#0DD396;" points="276,224 276,264 236,264 "/>
					<rect x="236" y="280" style="fill:#22EFAB;" width="40" height="40"/> <polyline style="fill:#0DD396;" points="276,280 276,320 236,320 "/>
					<rect x="236" y="336" style="fill:#22EFAB;" width="40" height="40"/> <polyline style="fill:#0DD396;" points="276,336 276,376 236,376 "/>
					<path style="fill:#bb00ff;" d="M228,488v-63.2c0-5.6-5.6-8.8-11.2-8.8h-34.4c-5.6,0-10.4,4-10.4,8.8V488H228z"/>
					<g> <rect x="332" y="200" style="fill:#08446D;" width="152" height="296"/> <rect x="356" y="152" style="fill:#08446D;" width="104" height="112"/>
						<rect x="380" y="96" style="fill:#08446D;" width="56" height="104"/> <polygon style="fill:#08446D;" points="376,205.6 408,10.4 440,205.6 408,237.6 "/>
					</g>
					<g> <rect x="364" y="232" style="fill:#5A8CA8;" width="8" height="232"/> <rect x="404" y="232" style="fill:#5A8CA8;" width="8" height="232"/>
						<rect x="436" y="232" style="fill:#5A8CA8;" width="8" height="232"/> </g> </g>

			</svg>
		</div>

		<div class="cityBuildings2">
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			     viewBox="0 0 496 496" xml:space="preserve" width="100px" height="100px" fill="#000000" transform="matrix(-1, 0, 0, 1, 0, 0)">

				<g id="SVGRepo_bgCarrier" stroke-width="0"/>

				<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>

				<g id="SVGRepo_iconCarrier"> <g> <polygon style="fill:#08446D;" points="420,496 12,496 12,386.4 72,328 420,328 "/> <rect x="172" style="fill:#08446D;" width="56" height="48"/> </g> <polyline style="fill:#00233F;" points="172,0 228,0 228,48 "/> <rect x="124" y="16" style="fill:#08446D;" width="152" height="160"/> <g> <polyline style="fill:#00233F;" points="124,16 276,16 276,176 "/> <rect x="92" y="72" style="fill:#00233F;" width="216" height="424"/> </g> <rect x="180" y="112" style="fill:#eeff00;" width="40" height="40"/> <polyline style="fill:#0DD396;" points="220,112 220,152 180,152 "/> <rect x="180" y="168" style="fill:#eeff00;" width="40" height="40"/> <polyline style="fill:#0DD396;" points="220,168 220,208 180,208 "/> <rect x="180" y="224" style="fill:#eeff00;" width="40" height="40"/> <polyline style="fill:#0DD396;" points="220,224 220,264 180,264 "/> <rect x="180" y="280" style="fill:#eeff00;" width="40" height="40"/> <polyline style="fill:#0DD396;" points="220,280 220,320 180,320 "/> <rect x="180" y="336" style="fill:#eeff00;" width="40" height="40"/> <polyline style="fill:#0DD396;" points="220,336 220,376 180,376 "/> <rect x="124" y="168" style="fill:#eeff00;" width="40" height="40"/> <polyline style="fill:#0DD396;" points="164,168 164,208 124,208 "/> <rect x="124" y="224" style="fill:#eeff00;" width="40" height="40"/> <polyline style="fill:#0DD396;" points="164,224 164,264 124,264 "/> <rect x="124" y="280" style="fill:#eeff00;" width="40" height="40"/> <polyline style="fill:#0DD396;" points="164,280 164,320 124,320 "/> <rect x="124" y="336" style="fill:#eeff00;" width="40" height="40"/> <polyline style="fill:#0DD396;" points="164,336 164,376 124,376 "/> <rect x="124" y="112" style="fill:#eeff00;" width="40" height="40"/> <polyline style="fill:#0DD396;" points="164,112 164,152 124,152 "/> <rect x="236" y="112" style="fill:#eeff00;" width="40" height="40"/> <polyline style="fill:#0DD396;" points="276,112 276,152 236,152 "/> <rect x="236" y="168" style="fill:#eeff00;" width="40" height="40"/> <polyline style="fill:#0DD396;" points="276,168 276,208 236,208 "/> <rect x="236" y="224" style="fill:#eeff00;" width="40" height="40"/> <polyline style="fill:#0DD396;" points="276,224 276,264 236,264 "/> <rect x="236" y="280" style="fill:#eeff00;" width="40" height="40"/> <polyline style="fill:#0DD396;" points="276,280 276,320 236,320 "/> <rect x="236" y="336" style="fill:#eeff00;" width="40" height="40"/> <polyline style="fill:#0DD396;" points="276,336 276,376 236,376 "/> <path style="fill:#16d7fe;" d="M228,488v-63.2c0-5.6-5.6-8.8-11.2-8.8h-34.4c-5.6,0-10.4,4-10.4,8.8V488H228z"/> <g> <rect x="332" y="200" style="fill:#08446D;" width="152" height="296"/> <rect x="356" y="152" style="fill:#08446D;" width="104" height="112"/> <rect x="380" y="96" style="fill:#08446D;" width="56" height="104"/> <polygon style="fill:#08446D;" points="376,205.6 408,10.4 440,205.6 408,237.6 "/> </g> <g> <rect x="364" y="232" style="fill:#5A8CA8;" width="8" height="232"/> <rect x="404" y="232" style="fill:#5A8CA8;" width="8" height="232"/> <rect x="436" y="232" style="fill:#5A8CA8;" width="8" height="232"/> </g> </g>

			</svg>
		</div>

		<div class="cityBuildings3">

			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
			     viewBox="0 0 496.00 496.00" xml:space="preserve" width="111px" height="111px" fill="#000000" transform="matrix(-1, 0, 0, 1, 0, 0)">

				<g id="SVGRepo_bgCarrier" stroke-width="0"/>

				<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>

				<g id="SVGRepo_iconCarrier"> <g> <polygon style="fill:#08446D;" points="420,496 12,496 12,386.4 72,328 420,328 "/> <rect x="172" style="fill:#08446D;" width="56" height="48"/> </g> <polyline style="fill:#00233F;" points="172,0 228,0 228,48 "/> <rect x="124" y="16" style="fill:#08446D;" width="152" height="160"/> <g> <polyline style="fill:#00233F;" points="124,16 276,16 276,176 "/> <rect x="92" y="72" style="fill:#00233F;" width="216" height="424"/> </g> <rect x="180" y="112" style="fill:#d400ff;" width="40" height="40"/> <polyline style="fill:#050df5;" points="220,112 220,152 180,152 "/> <rect x="180" y="168" style="fill:#d400ff;" width="40" height="40"/> <polyline style="fill:#050df5;" points="220,168 220,208 180,208 "/> <rect x="180" y="224" style="fill:#d400ff;" width="40" height="40"/> <polyline style="fill:#050df5;" points="220,224 220,264 180,264 "/> <rect x="180" y="280" style="fill:#d400ff;" width="40" height="40"/> <polyline style="fill:#050df5;" points="220,280 220,320 180,320 "/> <rect x="180" y="336" style="fill:#d400ff;" width="40" height="40"/> <polyline style="fill:#050df5;" points="220,336 220,376 180,376 "/> <rect x="124" y="168" style="fill:#d400ff;" width="40" height="40"/> <polyline style="fill:#050df5;" points="164,168 164,208 124,208 "/> <rect x="124" y="224" style="fill:#d400ff;" width="40" height="40"/> <polyline style="fill:#050df5;" points="164,224 164,264 124,264 "/> <rect x="124" y="280" style="fill:#d400ff;" width="40" height="40"/> <polyline style="fill:#050df5;" points="164,280 164,320 124,320 "/> <rect x="124" y="336" style="fill:#d400ff;" width="40" height="40"/> <polyline style="fill:#050df5;" points="164,336 164,376 124,376 "/> <rect x="124" y="112" style="fill:#d400ff;" width="40" height="40"/> <polyline style="fill:#050df5;" points="164,112 164,152 124,152 "/> <rect x="236" y="112" style="fill:#d400ff;" width="40" height="40"/> <polyline style="fill:#050df5;" points="276,112 276,152 236,152 "/> <rect x="236" y="168" style="fill:#d400ff;" width="40" height="40"/> <polyline style="fill:#050df5;" points="276,168 276,208 236,208 "/> <rect x="236" y="224" style="fill:#d400ff;" width="40" height="40"/> <polyline style="fill:#050df5;" points="276,224 276,264 236,264 "/> <rect x="236" y="280" style="fill:#d400ff;" width="40" height="40"/> <polyline style="fill:#050df5;" points="276,280 276,320 236,320 "/> <rect x="236" y="336" style="fill:#d400ff;" width="40" height="40"/> <polyline style="fill:#050df5;" points="276,336 276,376 236,376 "/> <path style="fill:#16d7fe;" d="M228,488v-63.2c0-5.6-5.6-8.8-11.2-8.8h-34.4c-5.6,0-10.4,4-10.4,8.8V488H228z"/> <g> <rect x="332" y="200" style="fill:#08446D;" width="152" height="296"/> <rect x="356" y="152" style="fill:#08446D;" width="104" height="112"/> <rect x="380" y="96" style="fill:#08446D;" width="56" height="104"/> <polygon style="fill:#08446D;" points="376,205.6 408,10.4 440,205.6 408,237.6 "/> </g> <g> <rect x="364" y="232" style="fill:#5A8CA8;" width="8" height="232"/> <rect x="404" y="232" style="fill:#5A8CA8;" width="8" height="232"/> <rect x="436" y="232" style="fill:#5A8CA8;" width="8" height="232"/> </g> </g>

			</svg>

		</div>
		<div class="truckWrapper">
			<div class="truckBody">
				<svg xmlns="http://www.w3.org/2000/svg"
				     fill="none"
				     viewBox="0 0 198 93"
				     class="trucksvg">
					<path stroke-width="3"
					      stroke="#282828"
					      fill="#23c3fc"
					      d="M135 22.5H177.264C178.295 22.5 179.22 23.133 179.594 24.0939L192.33 56.8443C192.442 57.1332 192.5 57.4404 192.5 57.7504V89C192.5 90.3807 191.381 91.5 190 91.5H135C133.619 91.5 132.5 90.3807 132.5 89V25C132.5 23.6193 133.619 22.5 135 22.5Z"></path>
					<path stroke-width="3"
					      stroke="#282828"
					      fill="#7D7C7C"
					      d="M146 33.5H181.741C182.779 33.5 183.709 34.1415 184.078 35.112L190.538 52.112C191.16 53.748 189.951 55.5 188.201 55.5H146C144.619 55.5 143.5 54.3807 143.5 53V36C143.5 34.6193 144.619 33.5 146 33.5Z"></path>
					<path stroke-width="2"
					      stroke="#282828"
					      fill="#282828"
					      d="M150 65C150 65.39 149.763 65.8656 149.127 66.2893C148.499 66.7083 147.573 67 146.5 67C145.427 67 144.501 66.7083 143.873 66.2893C143.237 65.8656 143 65.39 143 65C143 64.61 143.237 64.1344 143.873 63.7107C144.501 63.2917 145.427 63 146.5 63C147.573 63 148.499 63.2917 149.127 63.7107C149.763 64.1344 150 64.61 150 65Z"></path>
					<rect stroke-width="2"
					      stroke="#282828"
					      fill="#FFFCAB"
					      rx="1"
					      height="7"
					      width="5"
					      y="63"
					      x="187"></rect>
					<rect stroke-width="2"
					      stroke="#282828"
					      fill="#282828"
					      rx="1"
					      height="11"
					      width="4"
					      y="81"
					      x="193"></rect>
					<rect stroke-width="3"
					      stroke="#282828"
					      fill="#DFDFDF"
					      rx="2.5"
					      height="90"
					      width="121"
					      y="1.5"
					      x="6.5"></rect>
					<rect stroke-width="2"
					      stroke="#282828"
					      fill="#8a14ff"
					      rx="2"
					      height="4"
					      width="6"
					      y="84"
					      x="1"></rect>
				</svg>
			</div>
			<div class="truckTires">
				<svg xmlns="http://www.w3.org/2000/svg"
				     fill="none"
				     viewBox="0 0 30 30"
				     class="tiresvg">
					<circle stroke-width="3"
					        stroke="#282828"
					        fill="#282828"
					        r="13.5"
					        cy="15"
					        cx="15"></circle>
					<circle fill="#DFDFDF" r="7" cy="15" cx="15"></circle>
				</svg>
				<svg xmlns="http://www.w3.org/2000/svg"
				     fill="none"
				     viewBox="0 0 30 30"
				     class="tiresvg">
					<circle stroke-width="3"
					        stroke="#282828"
					        fill="#282828"
					        r="13.5"
					        cy="15"
					        cx="15"></circle>
					<circle fill="#DFDFDF" r="7" cy="15" cx="15"></circle>
				</svg>
			</div>
			<div class="road"></div>

			<svg xml:space="preserve"
			     viewBox="0 0 453.459 453.459"
			     xmlns:xlink="http://www.w3.org/1999/xlink"
			     xmlns="http://www.w3.org/2000/svg"
			     id="Capa_1"
			     version="1.1"
			     fill="#000000"
			     class="lampPost">
				<path d="M252.882,0c-37.781,0-68.686,29.953-70.245,67.358h-6.917v8.954c-26.109,2.163-45.463,10.011-45.463,19.366h9.993
						c-1.65,5.146-2.507,10.54-2.507,16.017c0,28.956,23.558,52.514,52.514,52.514c28.956,0,52.514-23.558,52.514-52.514
						c0-5.478-0.856-10.872-2.506-16.017h9.992c0-9.354-19.352-17.204-45.463-19.366v-8.954h-6.149C200.189,38.779,223.924,16,252.882,16
						c29.952,0,54.32,24.368,54.32,54.32c0,28.774-11.078,37.009-25.105,47.437c-17.444,12.968-37.216,27.667-37.216,78.884v113.914
						h-0.797c-5.068,0-9.174,4.108-9.174,9.177c0,2.844,1.293,5.383,3.321,7.066c-3.432,27.933-26.851,95.744-8.226,115.459v11.202h45.75
						v-11.202c18.625-19.715-4.794-87.527-8.227-115.459c2.029-1.683,3.322-4.223,3.322-7.066c0-5.068-4.107-9.177-9.176-9.177h-0.795
						V196.641c0-43.174,14.942-54.283,30.762-66.043c14.793-10.997,31.559-23.461,31.559-60.277C323.202,31.545,291.656,0,252.882,0z
						M232.77,111.694c0,23.442-19.071,42.514-42.514,42.514c-23.442,0-42.514-19.072-42.514-42.514c0-5.531,1.078-10.957,3.141-16.017
						h78.747C231.693,100.736,232.77,106.162,232.77,111.694z"></path>
			</svg>



		</div>
	</div>

</section>



<section class="custom-slogan">
	<h1>Choose LoadVantage as your partner to reach new peaks!</h1>
</section>


<!-- Dynamic Cards Section -->
<section class="custom-cards">
	<div class="custom-card" onclick="this.classList.toggle('flipped')">
			<div class="custom-card-front fancy-card-loadVantage">
			<h3>Reliability</h3>
		</div>
		<div class="custom-card-back">
			<p>Dependable and on-time service for your business needs.</p>
		</div>
	</div>
	<div class="custom-card" onclick="this.classList.toggle('flipped')">
		<div class="custom-card-front fancy-card-loadVantage">
			<h3>Connectivity</h3>
		</div>
		<div class="custom-card-back">
			<p>
				Bridging brokers and dispatchers. <br />
				Connect it, <br/> 
				Book it,  <br/> 
				Deliver it.  <br/> 
				TODAY !</p>
		</div>
	</div>
	<div class="custom-card" onclick="this.classList.toggle('flipped')">
		<div class="custom-card-front fancy-card-loadVantage">
			<h3>Innovation</h3>
		</div>
		<div class="custom-card-back">
			<p>Smart logistics solutions to optimize your operations.</p>
		</div>
	</div>
	<div class="custom-card" onclick="this.classList.toggle('flipped')">
			<div class="custom-card-front fancy-card-loadVantage">
			<h3>Efficiency</h3>
		</div>
		<div class="custom-card-back">
			<p>Optimized for time and cost savings in every project.</p>
		</div>
	</div>
</section>

<section id="meet-our-partners">
	<h2 class="section-title">Meet Our Partners</h2>
	<div class="partners-container">
		<!-- Partner 1 -->
		<div class="partner-card">
			<img src="/images/partner1.svg" alt="C.H. Robinson Worldwide" class="partner-logo">
			<p class="partner-description">C.H. Robinson Worldwide, Inc. is an American transportation company that includes third-party logistics (3PL). 
				The company offers freight transportation, transportation management, brokerage and warehousing. 
				It offers truckload, less than truckload, air freight, intermodal, and ocean transportation.</p>
		</div>
		<!-- Partner 2 -->
		<div class="partner-card">
			<img src="/images/partner2.svg" alt="Coyote Logistics" class="partner-logo">
			<p class="partner-description">Logistics never stops evolving. Neither does Coyote.
				They don’t just move freight. They move business with expertise and integrity. We are proud to be in such a strong partnership!</p>
		</div>
		<!-- Partner 3 -->
		<div class="partner-card">
			<img src="/images/partner3.png" alt="Partner 3 Logo" class="partner-logo">
			<p class="partner-description">10-4 Magazine was established in 1993 in Southern California and not late after it became the to go place for every trucker. 
				Everyone needs a community but with 10-4 on your side you have a work family. </p>
		</div>
	</div>
</section>




</main>

<div class="awards-container responsive">
	<!-- Left badges -->
	<div class="awards-left responsive">
		<img src="/images/award1.png" alt="Award 1" class="award-badge">
		<img src="/images/award2.png" alt="Award 2" class="award-badge">
		<img src="/images/award3.png" alt="Award 3" class="award-badge">
	</div>

	<!-- Main content -->
	<div class="awards-main-content responsive">
		<h2>Our Achievements</h2>
		<p>We are proud to have been recognized for our contributions to the industry with these awards.</p>
	</div>

	<!-- Right badges -->
	<div class="awards-right responsive">
		<img src="/images/award4.png" alt="Award 4" class="award-badge">
		<img src="/images/award5.png" alt="Award 5" class="award-badge">
		<img src="/images/award6.png" alt="Award 6" class="award-badge">
	</div>
</div>


<footer id="site-footer">
	<div class="footer-container">
		<div class="footer-column">
			<h3>About Us</h3>
			<p>We are a leading company in Customer Support and Logistics, dedicated to providing top-notch services and solutions to our clients on the North American market.</p>
		</div>
		<div class="footer-column links-footer-column-3">
			<h3>Quick Links</h3>
			<ul>
				<li>
					<a href="/home">Home</a>
				</li>
				<li>
					<a href="/login">Login</a>
				</li>
				<li>
					<a href="/register">Register</a>
				</li>
				<li>
					<a href="/privacy-policy">Privacy Policy</a>
				</li>

			</ul>
		</div>
		<div class="footer-column">
			<h3>Contact Us</h3>
			<p><strong>Address:</strong> 1600 Pennsylvania Avenue NW, Washington, DC 20500, USA</p>
			<p><strong>Phone:</strong> +1-202-456-1111</p>
			<p><strong>Email:</strong> <a href="mailto:info@example.com">info@example.com</a></p>
		</div>
		<div class="footer-column">
			<h3>Follow Us</h3>
			<div class="social-icons">
				<a href="https://facebook.com" target="_blank" aria-label="Facebook">
					<i class="ri-facebook-circle-fill"></i>
				</a>
				<a href="https://twitter.com" target="_blank" aria-label="Twitter">
					<i class="ri-twitter-fill"></i>
				</a>
				<a href="https://instagram.com" target="_blank" aria-label="Instagram">
					<i class="ri-instagram-fill"></i>
				</a>
				<a href="https://linkedin.com" target="_blank" aria-label="LinkedIn">
					<i class="ri-linkedin-box-fill"></i>
				</a>
			</div>
		</div>
	</div>
</footer>


<script>
	// document.querySelector('.custom-navbar-toggler').addEventListener('click', function() {
	// 	this.classList.toggle('active');
	// });


function toggleMenu() {
    const menu = document.getElementById('links-area-layout');
    menu.classList.toggle('show'); 
    
    if (menu.classList.contains('show')) {
        menu.style.transform = "translateY(0)";  
    } else {
        menu.style.transform = "translateY(-100%)";  
    }
}

document.querySelector('.navbar-toggler').addEventListener('click', toggleMenu);

</script>
