@{
	ViewBag.Title = "404 - Page Not Found";
	Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}


<body id="page-not-found-body">

	
	<div id="page-not-found-image-container">
			<img src="/images/truck-background.gif" alt="404 Image" id="not-found-page-image">
	</div>

	



<div id="page-not-found-text">
	<p>Don't worry, that happens sometimes. Let's go back to:</p>

	<a href="/" id="page-not-found-button">Home</a>
</div>
</body>
