@{
	ViewBag.Title = "Our Neural Highway Hit a Roadblock";
	Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}


<body id="page-not-found-body">

	
<div class="error-container">

	<img src="/images/500.jpeg" style="width: 85%; height: auto; align-self: center;" alt="Error Image" class="error-image">

	<div class="error-text">
		<h1 style="color: whitesmoke; text-align: center;">Oops! Something is wrong with our neural highway.</h1>
		<p style="color: whitesmoke; text-align: center;">We're sorry, but there was an issue with our server. Please try again later.</p>
	</div>

	<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
		<button class="fancy-project-button">Home</button>
	</a>
</div>

</body>