@using LoadVantage.Extensions
@model IEnumerable<LoadVantage.Core.Models.Chat.ChatMessageViewModel>

<div class="chat-messages">
	@foreach (var message in Model)
	{
		<div class="chat-message @(message.SenderId == User.GetUserId().Value ? "sent" : "received")">
			<div class="message-content">
				<p>@message.Content</p>
			</div>
			<div class="message-timestamp">
				<span>@message.Timestamp.ToString("hh:mm tt")</span>
			</div>
		</div>
	}
</div>

<style>
	
	.chat-message {
		display: flex;
		justify-content: space-between; /* Ensures that the message and timestamp are aligned on the same line */
		margin-bottom: 10px;
		align-content: center;
		justify-content: center;
	}

	.message-content {
		flex-grow: 1; /* Makes the message content take up available space */
	}

	.message-timestamp {
		align-self: flex-end; /* Aligns the timestamp to the bottom of the message */
		font-size: 0.6em;
		color: firebrick;
	}

</style>