@using Microsoft.AspNetCore.Mvc.TagHelpers


    <li class="nav-item">
    <a class="nav-link text-dark w-100" asp-controller="Account" asp-action="Register"><button class="fancy-project-button">Register</button></a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark w-100" asp-controller="Account" asp-action="Login"><button class="fancy-project-button">Login</button></a>
    </li>


