@using LoadVantage.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model LoadVantage.Core.Models.Profile.ProfileViewModel


<div class="row mb-3">
	
	<div class="d-flex flex-row justify-content-center">
		<img class="img-fluid img-thumbnail" src="@Model.UserImageUrl" alt="Profile" id="profileImagePreview" />

		@Html.ValidationSummary(true)

		<div class="d-flex flex-row align-items-center">
			<div class="row ml-3">
				<form id="imageUploadForm" asp-controller="Profile" asp-action="UpdateProfileImage" enctype="multipart/form-data" method="post">
					@Html.AntiForgeryToken()

					<input type="file" asp-for="ImageFileUploadModel!.FormFile" id="fileInput" style="display:none" accept="image/*">
					<span asp-validation-for="ImageFileUploadModel!.FormFile" class="text-danger"></span>
				
				
					<div class="pt-2">
						<button id="uploadImageButton" type="button" class="btn btn-primary btn-sm" title="Upload new profile image">
							<i class="bi bi-upload"></i>
						</button>
						<button id="submitButton" type="submit" class="btn btn-success btn-sm">
							Upload
						</button>
					</div>
				
				</form>

				<!-- Form to Delete Current Profile Image -->
				<form asp-controller="Profile" asp-action="DeleteProfileImage" method="post" class="d-inline">
					@Html.AntiForgeryToken()
					<button id="removeImageButton" type="submit" class="btn btn-danger btn-sm" title="Remove my profile image">
						<i class="bi bi-trash"></i>
					</button>
				</form>
			</div>
		</div>
	</div>
</div>


<!-- Vendor JS Files -->
<script src="~/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/vendor/chart.js/chart.umd.js"></script>
<script src="~/assets/vendor/echarts/echarts.min.js"></script>
<script src="~/assets/vendor/quill/quill.js"></script>
<script src="~/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="~/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="~/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="~/assets/js/main.js"></script>
<script src="~/js/site.js"></script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<!-- jQuery Validation -->
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>