 dark-mode.css 
body {
    background-color: #121212 !important;
    color: #ffffff !important;
}

header, .navbar, .sidebar {
    background-color: #1e1e1e !important;
    color: #ffffff !important;
}

input, select, textarea {
    color: #ffffff !important;
}

button #fancy-project-button {
    color: rgba(189,62,189,0.9) !important;
}

a {
    color: #90caf9 !important;
}

h1, h2, h4, h6, h7, h8 {
    color: white !important;
}

.card,
.panel,
.dropdown-menu,
.dropdown-menu-arrow.notifications.show::before,
.dropdown-menu-arrow.messages.show::before,
.dropdown-menu-arrow.profile.show::before,
.card-title {
    background-color: #1e1e1e !important;
    border-color: #333333 !important;
    color: #ffffff !important;
}

img {
    -webkit-box-shadow: -4px 6px 52px 16px rgba(189,62,189,0.9);
    -moz-box-shadow: -4px 6px 52px 16px rgba(189,62,189,0.9);
    box-shadow: -4px 6px 52px 16px rgba(189,62,189,0.9);
}


.logo img,
.broker-info.card img,
.nav-item.dropdown img,
.img-fluid,
#not-found-page-image {
    box-shadow: none !important;
}

#chat-user img {
    box-shadow: none !important;
}



.col-lg-3.col-md-4{
    color: white !important;
}

.card,
.card-title {
    background-color: #333333 !important;
}

.card {
    border-color: #808080 !important;
}

label {
    color: black;
}

.form-control {
    background-color: white !important;
    border: 2px rgba(189,62,189,0.9) solid !important;
    color: black !important;
}

.search-bar search-form {
    background-color: #808080 !important;
    color: black !important;
}

form.search-form {
    background-color: #dddddd !important;
}


.search-bar input {
    color: black !important;
}

.modal-body,
.modal-title,
.modal-header {
    color: black !important;
}

.dropdown-item:hover {
    background-color: #808080;
    color: black !important;
}


input{
    color: black;
}

.message-content{
    border: 2px black solid;
}

.datatable-selector {
    background-color: #1e1e1e !important;
    color: white !important;
}

.datatable-pagination-list li button {
    color: black !important;
}



.badge-info {
    background: #333333;
    color: #ffffff !important;
}

.count-row div{
    color: white !important;
}

.status-row div {
    color: #333333 !important;
}

.col-form-label {
    color: white !important;
}

.form-floating label {
    color: black !important;
}

.view-button span,
.view-button i,
.load-status {
    color: black !important;
}

.input-group input {
    background-color: #e6ecf6 !important;
    border: 2px #0094ff solid !important;
    color: black !important;
}

.message-timestamp {
    color: black !important;
}


.row.mb-3 input {
    color: black !important;
}

.rounded-circle {
    background-color: #dddddd !important;
}



.btn {
    color: black !important;
}

#editTruckForm input{
    color: black !important;
}

#refreshLoadForm,
#refreshLoadInfoButton,
#cancelLoadBtn,
#editLoadButton,
#saveLoadButton,
#cancelEditingButton,
#backToLoadBoardButton button,
#dispatcherDriverDetailsbtn,
#postLoadBtn,
#createLoadButton,
#resetFormButton,
#chatWithBrokerBtn,
#chatWithDispatcherBtn,
#unpostLoadBtn,
#unpostAllBtn,
#cancelCarrierBtn,
#returnLoadToBrokerBtn,
#bookLoadButton,
#markAsDeliveredBtn,
#driversDropdown,
#backToUserManagementButton button,
#showMapButton {
    background: #333333 !important;
    color: #ffffff !important;
}

#driversDropdown:hover {
    background: #be6519 !important;
    color: #ffffff !important;
}

#chatWithBrokerBtn:hover,
#chatWithDispatcherBtn:hover {
    border: 2px solid #1a00ff !important;
}

#markAsDeliveredBtn:hover {
    border: 2px solid #6f42c1 !important;
    background: #6f42c1 !important;
}

#chatWithDispatcherBtn,
#chatWithBrokerBtn,
#changePasswordBtn,
#saveChangesBtn,
#editLoadButton {
    border: 2px solid #1a00ff !important;
    color: white !important;
}

#chatWithDispatcherBtn:hover,
#chatWithBrokerBtn:hover,
#changePasswordBtn:hover,
#saveChangesBtn:hover,
#editLoadButton:hover {
    background: #1a00ff !important;
    color: white !important;
}

#returnLoadToBrokerBtn {
    border: 2px solid #ff0000 !important;
}

#returnLoadToBrokerBtn:hover {
    background: #ff0000 !important;
    color: white !important;
}

#backToLoadBoardButton button,
#showMapButton {
    border: 2px solid #0094ff !important;
}

#backToLoadBoardButton button:hover,
#showMapButton:hover{
    background: #0094ff !important;
    color: white !important;
}
#backToUserManagementButton button {
    border: 2px solid #0094ff !important;
}

#backToUserManagementButton button:hover {
    background: #0094ff !important;
    color: white !important;
}

#bookLoadButton {
    border: 2px solid #198754 !important;
}

#bookLoadButton:hover {
    background: #198754 !important;
    color: white !important;
}

#refreshLoadInfoButton {
    border: 2px solid #0dcaf0 !important;
}

#refreshLoadInfoButton:hover {
    background: #0dcaf0 !important;
    color: black !important;
}

#postLoadBtn {
    border: 2px solid #ffc107 !important;
}

#postLoadBtn:hover {
    background: #ffc107 !important;
    color: black !important;
}

#cancelLoadBtn,
#cancelCarrierBtn {
    border: 2px solid #ff0000 !important;
}

#cancelLoadBtn:hover,
#cancelCarrierBtn:hover{
    background: #ff0000 !important;
    color: black !important;
}

#saveLoadButton {
    border: 2px solid #198754 !important;
}

#saveLoadButton:hover {
    background: #198754 !important;
    color: white !important;
}

#cancelEditingButton {
    border: 2px solid #6c757d !important;
}

#cancelEditingButton:hover {
    background: #6c757d !important;
    color: white !important;
}

#restoreLoadBtn {
    border: 2px solid #198754 !important;
    color: white !important;
}

#restoreLoadBtn:hover {
    background: #198754 !important;
}


#unpostLoadBtn,
#unpostAllBtn {
    border: 2px solid #ffc107 !important;
}

#unpostLoadBtn:hover,
#unpostAllBtn:hover {
    background: #ffc107 !important;
    color: black !important;
}

#refreshProfileoButton i {
    color: #0dcaf0 !important;
}

#refreshProfileoButton i:hover {
    color: white !important;
}



.datatable-input {
    color: black !important;
}

.datatable-dropdown label {
    color: ghostwhite !important;
}

#deliveryTime,
#pickupTime,
#originCity,
#originState,
#destinationCity,
#destinationState,
#price,
#postedPrice,
#weight {
    color: black !important;
}

#addTruckForm .modal-body {
    margin-bottom: 0.2em !important;
}

#saveProfileButton {
    background: #333333 !important;
    color: #1a00ff !important;
}

.datatable-sorter {
    color: black !important;
}

#currentPassword,
#newPassword,
#renewPassword{
    color: #7201ae !important;
}

.form-control .text-center{
    background-color: black !important;
}


#editDriverForm{
    color: black !important;
}

.userImageManager {
    box-shadow: none !important;
}

.form-label select {
    color: black;
}

.card-title-statistics,
.card-title-statistics h3 i {
    color: black !important;
}

#totalLoadsStatistics,
#totalUsersStatistics,
#totalDriversStatistics,
#totalTrucksStatistics,
#totalRevenueStatistics {
    background-color: #333333 !important;
    color: white !important;
}

.card-title-statistics {
    color: #0094ff !important;
}

#createUserForm form-control {
    border: 2px solid #0094ff !important;
}


#position-select-element select{
    color: black !important;
}

.header-nav .profile .dropdown-item {
    color: white !important;
}

.stripe{
    display: none;
}

button.nav-link{
    color: white !important;
}