html {
    font-size: 14px;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/*--------------------------------------------------------------
# FANCY BUTTON 
--------------------------------------------------------------*/
.fancy-project-button {
    --color: #560bad;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.8em;
    line-height: 2em;
    margin: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: none;
    transition: color 0.9s;
    z-index: 1;
    border-radius: 6px;
    font-weight: 600;
    color: var(--color);
    font-size: 13px;
}

    .fancy-project-button:before {
        content: "";
        position: absolute;
        z-index: -1;
        background: var(--color);
        height: 130px;
        width: 180px;
        border-radius: 50%;
    }

    .fancy-project-button:hover {
        color: #fff;
    }

    .fancy-project-button:before {
        bottom: 100%;
        right: 100%;
        transition: all 0.8s;
    }

    .fancy-project-button:hover:before {
        bottom: -30px;
        right: -30px;
    }

    .fancy-project-button:active:before {
        background: #3a0ca3;
        transition: background 0s;
    }


/*--------------------------------------------------------------
# LOAD VANTAGE LOGO
--------------------------------------------------------------*/

.cls-1 {
    fill: #4ddcf0;
    animation: cls1 3s ease infinite both;
}

@keyframes cls1 {
    0% {
        fill: #8c1db8;
    }

    34% {
        fill: #9e3dc4;
    }

    66% {
        fill: #be56e8;
    }

    100% {
        fill: #8c1db8;
    }
}

.cls-1,
.cls-2,
.cls-3 {
    stroke-width: 0px;
}

.cls-2 {
    fill: #f7931e;
    animation: cls2 3s ease infinite both;
}

@keyframes cls2 {
    0% {
        fill: #be56e8;
    }

    34% {
        fill: #8c1db8;
    }

    66% {
        fill: #9e3dc4;
    }

    100% {
        fill: #be56e8;
    }
}

.cls-3 {
    fill: #ed1c24;
    animation: cls3 3s ease infinite both;
}

@keyframes cls3 {
    0% {
        fill: #9e3dc4;
    }

    34% {
        fill: #be56e8;
    }

    66% {
        fill: #8c1db8;
    }

    100% {
        fill: #9e3dc4;
    }
}

.cls-4 {
    display: none;
}

#triangle {
    height: 400px;
    width: 400px;
    padding-top: 30px;
    animation: triangle 3s both infinite;
}

@keyframes triangle {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);
    }
}

#triangle {
    width: 100px;
    height: auto;
    margin-top: -4.25em;
}


.hidden-th {
    visibility: hidden;
}

.centered-row {
    gap: 1rem; /* Adjust as needed to reduce or increase space */
}
