html {
    font-size: 14px;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

.header {
    box-shadow: 0px -23px 25px 0px rgba(0, 0, 0, 0.17) inset, 0px -36px 30px 0px rgba(0, 0, 0, 0.15) inset, 0px -79px 40px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 4px 2px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09);
}

body {
    margin-bottom: 60px;
}

.card {
    box-shadow: 0 26px 58px 0 rgba(0, 0, 0, .22), 0 5px 14px 0 rgba(0, 0, 0, .18) !important;
}
/*--------------------------------------------------------------
# FANCY BUTTON ( NAVIGATION BUTTONS HOME INDEX - UNAUTHORIZED )
--------------------------------------------------------------*/
.fancy-project-button {
    --color: #560bad;
    font-family: inherit;
    display: inline-block;
    width: 9em;
    height: 2.8em;
    line-height: 2em;
    margin: 1.3em;
    position: relative;
    cursor: pointer;
    border: none;
    transition: color 0.9s;
    z-index: 1;
    overflow: hidden;
    border-radius: 20px;
    font-weight: 750;
    color: var(--color);
    font-size: 14px;
    box-shadow: 0 2px 1px rgba(0,0,0,0.09), 0 4px 2px rgba(0,0,0,0.09), 0 8px 4px rgba(0,0,0,0.09), 0 16px 8px rgba(0,0,0,0.09), 0 32px 16px rgba(0,0,0,0.09);
}

.fancy-project-button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 11em;
    width: 14em;
    border-radius: 50%;
}

    .fancy-project-button:hover {
        color: #fff;
        box-shadow: 0 1px 1px rgba(0,0,0,0.08), 0 2px 10px rgba(140, 192, 247, 1), 0 4px 4px rgba(0,0,0,0.16), 0 8px 8px rgba(0,0,0,0.20);
        transition: box-shadow 0.3s ease;
    }

.fancy-project-button:before {
    bottom: 100%;
    right: 100%;
    transition: all 0.8s;
}

.fancy-project-button:hover:before {
    bottom: -30px;
    right: -30px;
}

.fancy-project-button:active:before {
    background: #3a0ca3;
    transition: background 0.3s;
}

/*--------------------------------------------------------------
# LOGIN BUTTON 
--------------------------------------------------------------*/

#login-submit {
    background: linear-gradient(to left, #8360c3, #4cddf1);
    color: #ffffff;
    border: 2px solid #8c1db8;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    box-shadow: 7px 7px 4px #121112;
}

#login-submit:hover {
    animation: upDown 2s infinite ease;
}

@keyframes upDown {
    5% {
        transform: translateY(0.00em);
        box-shadow: 7px 7px 4px #121112;
    }
    10% {
        transform: translateY(0.05em);
        box-shadow: 6px 6px 4px #121112;
    }
    15% {
        transform: translateY(0.10em);
        box-shadow: 6px 6px 4px #121112;
    }

    20% {
        transform: translateY(0.15em);
        box-shadow: 5px 5px 4px #121112;
    }

    25% {
        transform: translateY(0.20em);
        box-shadow: 4px 4px 4px #121112;
    }

    30% {
        transform: translateY(0.25em);
        box-shadow: 3px 3px 3px #121112;
    }

    35% {
        transform: translateY(0.30em);
        box-shadow: 2px 2px 2px #121112;
    }

    40% {
        transform: translateY(0.35em);
        box-shadow: 1px 1px 1px #121112;
    }


    45% {
        transform: translateY(0.40em);
        box-shadow: 0px 0px 0px #121112;
    }
}

/*--------------------------------------------------------------
# LOAD VANTAGE LOGO
--------------------------------------------------------------*/

    .cls-1 {
        fill: #4ddcf0;
        animation: cls1 3s ease infinite both;
    }

    @keyframes cls1 {
        0% {
        fill: #8c1db8;
    }

    34% {
        fill: #9e3dc4;
    }

    66% {
        fill: #be56e8;
    }

    100% {
        fill: #8c1db8;
    }
}

.cls-1,
.cls-2,
.cls-3 {
    stroke-width: 0px;
}

.cls-2 {
    fill: #f7931e;
    animation: cls2 3s ease infinite both;
}

@keyframes cls2 {
    0% {
        fill: #be56e8;
    }

    34% {
        fill: #8c1db8;
    }

    66% {
        fill: #9e3dc4;
    }

    100% {
        fill: #be56e8;
    }
}

.cls-3 {
    fill: #ed1c24;
    animation: cls3 3s ease infinite both;
}

@keyframes cls3 {
    0% {
        fill: #9e3dc4;
    }

    34% {
        fill: #be56e8;
    }

    66% {
        fill: #8c1db8;
    }

    100% {
        fill: #9e3dc4;
    }
}

.cls-4 {
    display: none;
}

#triangle {
    height: 400px;
    width: 400px;
    padding-top: 30px;
    animation: triangle 3s both infinite;
}

#triangle2 {
    height: 400px;
    width: 400px;
    padding-top: 30px;

}

@keyframes triangle {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);
    }
}

#triangle {
    width: 100px;
    height: auto;
    margin-top: -4.25em;
}

#triangle2 {
    width: 100px;
    height: auto;
    margin-top: -3.25em;
}


.hidden-th {
    visibility: hidden;
}

/*--------------------------------------------------------------
# LOADBOARD LOAD VIEW 
--------------------------------------------------------------*/

.centered-row {
    gap: 1rem; 
}


.badge-danger {
    display: inline-block;
    background-color: #8208c3; 
    color: #11b1ac;
    padding: 0.375rem 0.75rem;
    border-radius: 0.55rem;
    margin-top: 0.25rem;
}

#pass-change-divider{
    margin-bottom: 1.50em;
    font-size: 0.75rem;
}

.badge-validation {
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 750;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    color: white;
    background-color: #8208c3;
}

.form-floating input {
    border: 2px #0945d4 solid;
}


.view-button {
    font-size: 11px !important;
    padding: 0.20rem 0.35rem !important;
    border-radius: 0.85em !important;
    margin-top: 0.20rem !important;
    font-family: Nunito;
    font-weight: 700;
}

.view-button span {
    font-family: Nunito;
    font-weight: 700;
}

.section {
    font-family: Nunito;
    font-weight: 550;
    font-size: 15px;
}

/*--------------------------------------------------------------
# LOADING SPINNER 
--------------------------------------------------------------*/
.spinner-container {
    position: center;
}

.spinner {

    position: absolute;
    top: 105%;
    left: 49%;
    transform: translate(-50%, -50%);

    width: 35.4px;
    height: 35.4px;
    --clr: rgb(163, 46, 217);
    --clr-alpha: rgb(247, 197, 159,.1);
    animation: spinner 1.6s infinite ease;
    transform-style: preserve-3d;
}

.spinner > div {
    background-color: var(--clr-alpha);
    height: 100%;
    position: absolute;
    width: 100%;
    border: 3.5px solid var(--clr);
}

.spinner div:nth-of-type(1) {
    transform: translateZ(-17.7px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
}

.spinner div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
}

.spinner div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
}

.spinner div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
    transform: translateZ(17.7px);
}

@keyframes spinner {
0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
}

50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
}

100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
}


/*-------------------------------------------------------------------------------------
# BUTTONS LOAD DETAILS VIEW ( EDIT, SAVE, CANCEL, BACK TO LOADBOARD, POST, CANCEL LOAD
--------------------------------------------------------------------------------------*/

.details-buttons-container,
.create-load-buttons-container {
    padding: 0.10em;
    margin-bottom: 0.5em;
}

.details-buttons-container {
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100em;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0.5em;
}

.create-load-buttons-container button,
.details-buttons-container button,
.btn btn-outline-danger {
    font-family: Nunito;
    font-size: 0.90rem;
    font-weight: 700;
    border: 2px solid;
}

#editLoadButton {
    border: #0d6efd transparent;
    color: #0d6efd;
    background: ghostwhite;
}

#editLoadButton:hover {
    background: #0d6efd;
    color: ghostwhite;
}

#saveLoadButton {
    border: #198754 transparent;
    color: #198754;
    background: ghostwhite;
}

#saveLoadButton:hover {
    background: #198754;
    color: ghostwhite;
}

#cancelEditingButton {
    border: #6c757d transparent;
    color: #6c757d;
    background: ghostwhite;
}

#cancelEditingButton:hover {
    background: #6c757d;
    color: ghostwhite;
}

#postLoadButton {
    border: #ffc008 transparent;
    color: #ffc008;
    background: ghostwhite;
}

#postLoadButton:hover {
    background: #ffc008;
    color: black;
}


.btn btn-outline-danger {
    border: 2px #dc3545 solid !important;
}

/*-------------------------------------------------------------------------------------
# LOAD STATUS BADGE ON THE RIGHT TOP CORNER IN THE LOAD DETAILS VIEW
--------------------------------------------------------------------------------------*/

.load-status{
    position: absolute;
    top: 0.75em;
    right: 0.75em;
    width: 7.5em;
    height: 2.2em;
    text-align: center;
    border: 2px black solid;
}

/*-------------------------------------------------------------------------------------
# REFRESH BUTTON ON THE RIGHT BOTTOM CORNER IN THE LOAD DETAILS VIEW
--------------------------------------------------------------------------------------*/

#refreshLoadInfoButton {
    position: absolute;
    bottom: 0.75em;
    right: 0.75em;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#refreshLoadInfoButton i {
    font-size: 20px;
}

/*-------------------------------------------------------------------------------------
# FADE OUT EFFECT FOR THE SUCCESS AND ERROR MESSAGES 
--------------------------------------------------------------------------------------*/
    #success-message,
    #error-message {
        width: auto;
        margin-bottom: 1em;
        font-size: 0.85em;
    }

.fade-out {
    opacity: 0; /* Start fading out */
    transition: opacity 3s ease-out; /* Transition effect */
}

/*-------------------------------------------------------------------------------------
# PROFILE ---> EDIT PROFILE ---> FIELDS THAT ARE NOT GOING TO BE EDITED  
--------------------------------------------------------------------------------------*/

#fullName,
#userName {
    background: #dedede;
    margin: 0.1em !important;
}

/*-------------------------------------------------------------------------------------
# PROFILE ---> TAB EFFECT
--------------------------------------------------------------------------------------*/

.tab-pane.fade {
    transition: opacity 0.25s ease;
}

.nav-tabs-bordered .nav-link {
    margin-bottom: 0.7em !important;
}


.nav-tabs-bordered .nav-link.active {
    background: linear-gradient(to left, #8360c3, #4cddf1);
    color: #121112 !important;
    border-radius: 1em;
    border-bottom: 3px solid #0d6efd !important;
    border-top: 3px solid #8c1db8 !important;
    font-weight: 750;
    box-shadow: 25px 0 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);
}

.nav-tabs-bordered .nav-link.active:hover {
    color: ghostwhite !important;
}

.nav-tabs-bordered .nav-link:hover {
    background-color: #fff !important;
    color: #0d6efd !important;
    border-radius: 1em;
    transition: opacity 0.25s ease-out;
    border-bottom: 3px solid #0d6efd !important;
    border-top: 3px solid #8c1db8 !important;
}

/*-------------------------------------------------------------------------------------
# CONFIRM CANCEL MODAL 
--------------------------------------------------------------------------------------*/

.modal-footer-centered button{
    margin-bottom: 1em;
}

.modal-body{
    margin: -2em 2em 2em 2em;
}

.modal-content{
    border: 2px black solid !important;
}

#cancelConfirmationModalLabel {
    display: block;
    margin: 0 auto;
}

#modal-icon {
    font-size: 3.5rem;
    color: #dc3545;
    display: block;
    margin: 0 auto;
    margin-top: -0.2em;
    text-align: center;
    padding: 10px 0;
}

#uploadImageButton,
#removeImageButton {
    margin: 0.50em;
}

.profile-change-picture{
    display: flex;
    justify-content: center;
}

.modal-header {
    height: 2.3em;
}

#successModal,
#errorModal {
    font-family: Nunito 14px;
    font-weight: 600;
}

#errorModalLabel,
#successModalLabel {
    font-family: Nunito 14px;
    font-weight: 600;
}

.border-none {
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}


.messages-text {
    margin-top: 2em;
}

#refreshProfile{
    margin-top: 0.5em;
}

.profile .loads-card h2 {
    font-size: 20px;
    font-weight: 650;
    color: #8c1db8;
    margin: 10px 0 0 0;
    text-align: center;
}

.social-links {
    display: grid;
    gap: 0.5em;
    text-align: center;
}

.status-row, .count-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.profile-loads {
    font-family: Nunito;
    font-size: 1em;
    padding: 0.5em;
    color: black !important;
}

.count-row div {
    font-size: 1.2em;
    color: #056a8b;
}


